In [1]:
import pandas as pd
import numpy as np

In [61]:
data = pd.read_csv("openpowerlifting.csv", low_memory = False)
rows, columns = data.shape
print(f"Dataset contains {rows} rows and {columns} columns.")

Dataset contains 1048575 rows and 42 columns.

In [62]:
data = data.dropna(subset=["Age", "BodyweightKg", "TotalKg"])
rows, columns = data.shape
print(f"Dataset contains {rows} rows and {columns} columns.")

Dataset contains 738096 rows and 42 columns.

In [63]:
print("Unique values in 'Sex':", data["Sex"].unique())
print("Unique values in 'Equipment':", data["Equipment"].unique())

Unique values in 'Sex': ['F' 'M' 'Mx']
Unique values in 'Equipment': ['Raw' 'Wraps' 'Multi-ply' 'Single-ply' 'Unlimited' 'Straps']

In [64]:
print(data["Sex"].value_counts())
print(data["Equipment"].value_counts())

Sex
M     511516
F     226503
Mx        77
Name: count, dtype: int64
Equipment
Raw           509593
Single-ply    137972
Wraps          65831
Multi-ply      20147
Unlimited       4509
Straps            44
Name: count, dtype: int64

In [65]:
# Remove 'Mx' from Sex and 'Straps' from Equipment
data = data[(data["Sex"] != "Mx") & (data["Equipment"] != "Straps")]

# Display the updated row count
rows, columns = data.shape
print(f"Dataset after filtering contains {rows} rows and {columns} columns.")

Dataset after filtering contains 737975 rows and 42 columns.

In [66]:
columns_to_drop = [
    "MeetName", "MeetCountry", "MeetState", "MeetTown", "State", "Country",
    "BirthYearClass", "AgeClass", "Place",
    "Squat1Kg", "Squat2Kg", "Squat3Kg", "Squat4Kg",
    "Bench1Kg", "Bench2Kg", "Bench3Kg", "Bench4Kg",
    "Deadlift1Kg", "Deadlift2Kg", "Deadlift3Kg", "Deadlift4Kg",
    "Federation", "Sanctioned", "Date", "Tested", "WeightClassKg", "Event", "Division", "ParentFederation", "Goodlift"
]

# Drop the columns (keeping "Name")
data = data.drop(columns=columns_to_drop)

# Display updated shape
print(f"Dataset after column removal contains {data.shape[0]} rows and {data.shape[1]} columns.")

Dataset after column removal contains 737975 rows and 12 columns.

In [67]:
data.columns

Index(['Name', 'Sex', 'Equipment', 'Age', 'BodyweightKg', 'Best3SquatKg',
       'Best3BenchKg', 'Best3DeadliftKg', 'TotalKg', 'Dots', 'Wilks',
       'Glossbrenner'],
      dtype='object')

In [73]:
data = data[data["Age"] > 0]
print(f"Dataset after column removal contains {data.shape[0]} rows and {data.shape[1]} columns.")

Dataset after column removal contains 737975 rows and 12 columns.

In [78]:
data = data[data['Age'] >= 10]
print(f"Dataset after column removal contains {data.shape[0]} rows and {data.shape[1]} columns.")

Dataset after column removal contains 736621 rows and 12 columns.

In [79]:
data["Age"].min()

10.0

In [81]:
data["BodyweightKg"].max()

245.0

In [82]:
high_bodyweight = data[data['BodyweightKg'] >= 200]
print(f"Number of records with BodyweightKg >= 200: {high_bodyweight.shape[0]}")
high_bodyweight

Number of records with BodyweightKg >= 200: 142

,Name,Sex,Equipment,Age,BodyweightKg,Best3SquatKg,Best3BenchKg,Best3DeadliftKg,TotalKg,Dots,Wilks,Glossbrenner
11195,Siamand Rahman,M,Raw,31.0,200.00,NaN,265.00,NaN,265.00,132.57,140.87,131.28
29004,Thomas Davis #1,M,Raw,26.0,200.40,NaN,300.00,NaN,300.00,150.02,159.47,148.57
29134,James Brincat-Smith,M,Single-ply,43.5,207.30,NaN,232.50,NaN,232.50,115.49,123.57,114.48
36540,Florent Veldeman,M,Single-ply,24.5,214.00,315.00,260.00,280.00,855.00,423.76,454.43,418.65
37848,Scott Squire,M,Raw,47.0,207.00,NaN,190.00,NaN,190.00,94.41,100.99,93.58
...,...,...,...,...,...,...,...,...,...,...,...,...
808665,Mason Amato,M,Raw,22.0,206.30,227.50,170.00,205.00,602.50,299.55,320.23,296.92
810369,Gene Evans,M,Wraps,32.5,216.36,371.95,201.85,310.71,884.51,438.38,470.12,432.24
811701,Thomas Davis #1,M,Raw,27.0,205.93,NaN,317.51,NaN,317.51,157.91,168.76,156.52
811702,Julius Maddox,M,Raw,32.0,201.21,NaN,349.27,NaN,349.27,174.51,185.64,172.86
811736,Gene Evans,M,Wraps,33.0,210.01,303.91,172.37,315.25,791.52,392.29,420.70,388.87

In [83]:
filtered_data = data[(data['Age'] >= 10) & (data['Age'] <= 15) & (data['BodyweightKg'] < 30)]
print(f"Number of records: {filtered_data.shape[0]}")
filtered_data

Number of records: 87

,Name,Sex,Equipment,Age,BodyweightKg,Best3SquatKg,Best3BenchKg,Best3DeadliftKg,TotalKg,Dots,Wilks,Glossbrenner
16271,Tetyana Korostel,F,Raw,10.0,28.0,NaN,NaN,55.0,55.0,81.66,92.09,92.01
73437,Tetyana Korostel,F,Raw,10.0,28.2,NaN,NaN,50.0,50.0,74.24,83.68,83.62
73976,Evgeniy Kurinniy,M,Raw,10.0,29.7,NaN,25.0,NaN,25.0,31.78,33.39,33.11
78580,Tetyana Korostel,F,Raw,10.0,27.5,NaN,NaN,35.0,35.0,51.97,58.66,58.58
78674,Oleksandr Pavlik,M,Raw,10.0,24.4,NaN,25.0,NaN,25.0,31.78,33.39,33.11
...,...,...,...,...,...,...,...,...,...,...,...,...
702111,Natalie Hunt,F,Raw,10.5,28.6,30.0,17.5,32.5,80.0,118.78,133.72,133.71
709946,Cade Lazarus,M,Raw,11.5,28.0,27.5,15.0,47.5,90.0,114.40,120.19,119.19
774107,Damian Bortolotti-Lord,M,Raw,10.5,29.7,NaN,25.0,65.0,90.0,114.40,120.19,119.19
779401,Damian Bortolotti-Lord,M,Raw,10.5,28.8,NaN,25.0,55.0,80.0,101.69,106.83,105.95
799543,Erin Shaw,F,Wraps,14.0,25.0,37.5,27.5,67.5,132.5,196.74,222.26,221.85

In [84]:
missing_values = data.isnull().sum()
missing_percentage = (missing_values / len(data)) * 100

missing_df = pd.DataFrame({'Missing Values': missing_values, 'Percentage': missing_percentage})
missing_df = missing_df[missing_df['Missing Values'] > 0].sort_values(by='Percentage', ascending=False)

print(missing_df)

                 Missing Values  Percentage
Best3SquatKg             226940   30.808245
Best3DeadliftKg          174895   23.742875
Best3BenchKg              42490    5.768231

In [91]:
data["Equipment"].isnull().sum()

0

In [89]:
data = data.dropna(subset=["Best3SquatKg", "Best3DeadliftKg", "Best3BenchKg"])
print(f"Dataset after column removal contains {data.shape[0]} rows and {data.shape[1]} columns.")

Dataset after column removal contains 506544 rows and 12 columns.